@import "./mixin.scss";
@import "./variables.scss";

.header-bar{
  height:30vh;
  @include header;
  display:flex;
  justify-content:center;
  align-items:center;
  transform-origin: center;
  animation: header-bar both linear;
  animation-timeline: view();
}