.grid-container {
  display: grid;
  margin: 0;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(6, 300px 600px);

  & .container {
    &__img {
      background-size: cover;
      transform-origin: left;
      animation: img-scroll both linear;
      animation-timeline: view();
      transform-origin: left;
    }

    &__text {
      animation: text-scroll both linear;
      animation-timeline: view();
      text-align: right;
      display: flex;
      flex-direction: row-reverse;
      transform-origin: right;

      & p {
        max-width: 80%;
      }
    }
  }

  & .containerb {
    &__img {
      background-size: cover;
      animation: img-scroll both linear;
      animation-timeline: view();
      transform-origin: right;
    }

    &__text {
      animation: text-scroll both linear;
      animation-timeline: view();
      transform-origin: left;

      & p {
        max-width: 80%;
      }
    }
  }
}

// grid placement

.img {
  &__1 {
    background-image: url(../img/image2.jpg);
    grid-row: 1 / 4;
    grid-column: 1 / 2;
  }

  &__2 {
    background-image: url(../img/image3.jpg);
    grid-row: 3 / 6;
    grid-column: 3 / 4;
  }

  &__3 {
    background-image: url(../img/image4.jpg);
    grid-row: 5 / 8;
    grid-column: 1 / 2
  }

  &__4 {
    background-image: url(../img/image5.jpg);
    grid-row: 7 / 10;
    grid-column: 3 / 4;
  }

  &__5 {
    background-image: url(../img/image2.jpg);
    grid-row: 9 / 12;
    grid-column: 1 / 2;
  }
}

.text {
  &__1 {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    align-self: center;
  }

  &__2 {
    grid-row: 3 / 6;
    grid-column: 1 / 4;
    align-self: center;
  }

  &__3 {
    grid-row: 5 / 8;
    grid-column: 1 / 4;
    align-self: center;
  }

  &__4 {
    grid-row: 7 / 10;
    grid-column: 1 / 4;
    align-self: center;
  }

  &__5 {
    grid-row: 9 / 12;
    grid-column: 1 / 4;
    align-self: center;
  }
}