.header-bar {
  height: 30vh;
  background: #050000;
  border: 1px solid rgba(255, 255, 255, 0.082);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  animation: header-bar both linear;
  animation-timeline: view();
}

@keyframes img-scroll {
  from {
    transform: scaleX(0.8);
  }
  30% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes text-scroll {
  from {
    opacity: 0;
    transform: scale(0.7) translateY(200%);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    transform: translateY(-200%);
  }
}
@keyframes header-bar {
  80% {
    height: 30vh;
  }
  to {
    height: 20vh;
  }
}
@keyframes header-title {
  80% {
    font-size: 100px;
  }
  to {
    font-size: 70px;
  }
}
@keyframes icon-scroll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(380deg);
  }
}
.grid-container {
  display: grid;
  margin: 0;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(6, 300px 600px);
}
.grid-container .container__img {
  background-size: cover;
  transform-origin: left;
  animation: img-scroll both linear;
  animation-timeline: view();
  transform-origin: left;
}
.grid-container .container__text {
  animation: text-scroll both linear;
  animation-timeline: view();
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  transform-origin: right;
}
.grid-container .container__text p {
  max-width: 80%;
}
.grid-container .containerb__img {
  background-size: cover;
  animation: img-scroll both linear;
  animation-timeline: view();
  transform-origin: right;
}
.grid-container .containerb__text {
  animation: text-scroll both linear;
  animation-timeline: view();
  transform-origin: left;
}
.grid-container .containerb__text p {
  max-width: 80%;
}

.img__1 {
  background-image: url(../img/image2.jpg);
  grid-row: 1/4;
  grid-column: 1/2;
}
.img__2 {
  background-image: url(../img/image3.jpg);
  grid-row: 3/6;
  grid-column: 3/4;
}
.img__3 {
  background-image: url(../img/image4.jpg);
  grid-row: 5/8;
  grid-column: 1/2;
}
.img__4 {
  background-image: url(../img/image5.jpg);
  grid-row: 7/10;
  grid-column: 3/4;
}
.img__5 {
  background-image: url(../img/image2.jpg);
  grid-row: 9/12;
  grid-column: 1/2;
}

.text__1 {
  grid-row: 1/4;
  grid-column: 1/4;
  align-self: center;
}
.text__2 {
  grid-row: 3/6;
  grid-column: 1/4;
  align-self: center;
}
.text__3 {
  grid-row: 5/8;
  grid-column: 1/4;
  align-self: center;
}
.text__4 {
  grid-row: 7/10;
  grid-column: 1/4;
  align-self: center;
}
.text__5 {
  grid-row: 9/12;
  grid-column: 1/4;
  align-self: center;
}

body {
  background: radial-gradient(27% 29% at right, rgba(0, 0, 0, 0) 83%, #200101 85% 99%, rgba(0, 0, 0, 0) 101%) 13px 26px, radial-gradient(27% 29% at left, rgba(0, 0, 0, 0) 83%, #2c1818 85% 99%, rgba(0, 0, 0, 0) 101%) -13px 26px, radial-gradient(29% 27% at top, rgba(0, 0, 0, 0) 83%, #200101 85% 99%, rgba(0, 0, 0, 0) 101%) 0 13px, radial-gradient(29% 27% at bottom, rgba(0, 0, 0, 0) 83%, #2c1818 85% 99%, rgba(0, 0, 0, 0) 101%) 0 -13px #000000;
  background-size: 52px 52px;
  background-attachment: fixed;
  margin: 0;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: white;
  margin: 0;
  animation: header-title both linear;
  animation-timeline: view();
}

p {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 60px;
  margin: 0;
}

.cat-icon {
  grid-row: 1/2;
  grid-column: 3/4;
  position: sticky;
  top: 37.5px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.cat-icon img {
  width: 150px;
  height: auto;
  padding-right: 75px;
  transform-origin: 75px 75px;
  animation: icon-scroll linear 2;
  animation-timeline: scroll(root);
}

/*# sourceMappingURL=style.css.map */
